.loader{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: rgba(black, .6);
    animation: pulsing 1.5s infinite cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -webkit-animation: pulsing 2s infinite cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -moz-animation: pulsing 2s infinite cubic-bezier(0.250, 0.250, 0.750, 0.750);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    &::before{
        content: "";
        display: inline-block;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        background-color: black;
        z-index: -1;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__mini{
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        background-color: rgba(black, .6);
        animation: pulsing 2s infinite cubic-bezier(0.250, 0.250, 0.750, 0.750);
        -webkit-animation: pulsing 2s infinite cubic-bezier(0.250, 0.250, 0.750, 0.750);
        -moz-animation: pulsing 2s infinite cubic-bezier(0.250, 0.250, 0.750, 0.750);
        position: fixed;
        bottom: 2rem;
        left: 2rem; 

        &::before{
            content: "";
            display: inline-block;
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            background-color: black;
            z-index: -1;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@keyframes pulsing{
    0%{
        border: black 2rem solid;
        opacity: 1;
    }

    100%{
        border: black .5rem solid;
        opacity: .25;
    }
}