@import '../../mixins/mixins';

.main{
    width: 100%;
    transition: all .5s ease;

    &.active{
        width: 75%;

        @include respond(tab-land){
            width: 100%;
        }
    
        @include respond(phone){
            width: 100%;
        }
    }
}