.navbar{
    width: 100%;
    height: 8rem;
    background-color: rgba(white, .2);
    backdrop-filter: blur(.5rem);
    -webkit-backdrop-filter: blur(.5rem);
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 .1rem 3rem rgba(black, .1);
    z-index: 2;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    &__logo{
        font-size: 5rem;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__input{
        display: none;
    }

    &__menu{
        cursor: pointer;
        height: 1.5rem;
        display: flex;
        align-items: center;

        &--icons{
            display: inline-block;
            height: .25rem;
            width: 2.5rem;
            background-color: transparent;
            position: relative;

            &::after, &::before{
                content: "";
                height: .15rem;
                width: 2.5rem;
                background-color: black;
                position: absolute;
                transition: all .3s ease;
            }

            &::after{
                top: -.25rem;
            }

            &::before{
                top: .25rem;
            }
        }

        &:hover &--icons::after{
            transform: translateY(-.1rem);
        }

        &:hover &--icons::before{
            transform: translateY(.1rem);
        }
    }
}