@import '../../mixins/mixins';

.sidebar{
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0%;
    box-shadow: 0 .1rem 3rem rgba(black, .1);
    text-transform: uppercase;
    transition: all .5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 3;

    & > *{
        width: 80%;
        margin: 0 auto;
    }

    &.active{
        width: 25%;

        @include respond(tab-land){
            width: 35%;
        }
    
        @include respond(phone){
            width: 45%;
        }
    }

    &.active &__close{
        opacity: 1;
        visibility: visible;
        transition: all .5s ease;
    }

    &__close{
        font-size: 6rem;
        font-weight: 100;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
    }

    &__title{
        font-size: 2rem;
    }

    &__heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content{
        font-size: 2rem;
    }

    &__list{
        &--item{
            list-style: none;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.5rem;
            text-transform: uppercase;
            cursor: pointer;

            &:not(:last-child){
                margin: 1rem 0;
            }
        }
    }
}